.flashy {
  font-style: italic;
  color: red;
}

.best {
  color: gold;
  font-style: italic;
  letter-spacing: 3em;
}


@media (max-width: 700px) {
  body{
    background-color: black;
    color: white;
  }
}
